[Install]
WantedBy=multi-user.target

[Unit]
Description=Sausage-store backend service
After=network.target
Documentation=https://gitlab.praktikum-services.ru/std-019-002/sausage-store/-/bl>

[Service]
User=jarservice
Environment=REPORT_PATH=/logs/out.log
Environment=LOG_PATH=/logs
#StandardOutput=file:/log/out.log
Restart=always
ExecStart=/usr/bin/java -jar /home/jarservice/sausage-store.jar \
--spring.datasource.url=jdbc:postgresql://$PSQL_HOST:$PSQL_PORT/$PSQL_DBNAME \
--spring.datasource.username=$PSQL_USER \
--spring.datasource.password=$PSQL_PASSWORD \
--spring.flyway.baselineOnMigrate='true'


